<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_nhom17_2021">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/> -->
    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG"/> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->
    <!-- <application android:allowBackup="false"></application> -->
</manifest>
